<div id="administrador-reporte-graficas" class="page-layout carded fullwidth single-scroll" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" flex>


    <!-- CONTENT HEADER -->
    <div class="header" layout="column" layout-align="space-between start">
      <span class="h1 white-fg">
        <md-icon class="icon-clipboard-text"></md-icon>
        Reporte general en gráficas
      </span>
      <div class="h3 white-fg">Aquí verás un reporte detallado entre dos fechas representado en gráficos.</div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <md-content class="content" ms-scroll>
        <div layout="column" layout-gt-sm="row" flex="100">
          <md-input-container flex="20">
            <label>Fecha inicial</label>
            <md-datepicker ng-model="vm.initialDate" md-placeholder="Inicial" ng-change="vm.cargarTodo()" name="fecha" class="md-no-underline"></md-datepicker>
          </md-input-container>

          <md-input-container flex="20">
            <label>Fecha final</label>
            <md-datepicker ng-model="vm.finalDate" md-placeholder="Final" ng-change="vm.cargarTodo()" name="fecha" class="md-no-underline"></md-datepicker>
          </md-input-container>

          <md-input-container flex="30">
            <label>Establecimiento</label>
            <md-select type="text" name="establecimiento" ng-model="vm.establecimiento" placeholder="Establecimiento" ng-change="vm.seleccionarEstablecimiento()"
              class="md-no-underline">
              <md-option ng-value="establecimiento.id" ng-repeat="establecimiento in vm.establecimientos">
                {{ establecimiento.name }}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex="30">
            <label>Sede</label>
            <md-select type="text" name="sede" ng-model="vm.sede" placeholder="Sede" ng-change="vm.cargarTodo()" class="md-no-underline">
              <md-option ng-value="null" selected>Todas</md-option>
              <md-option ng-value="sede.id" ng-repeat="sede in vm.sedes">
                {{ sede.name }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-content>
      <!-- / CONTENT -->

      <div layout="row" layout-xs="column">
        <div class="content" flex>
          <div class="card md-whiteframe-4dp">
            <div class="md-title">Cantidad de pedidos por día</div>
            <canvas id="line_pedidos_dia" class="chart-line" chart-colors="vm.pedidos_dia.colors" chart-data="vm.pedidos_dia.data" chart-labels="vm.pedidos_dia.labels"
              chart-options="vm.pedidos_dia.options" chart-dataset-override="vm.pedidos_dia.datasetOverride" chart-series="vm.pedidos_dia.series"></canvas>
            <div class="md-footer">
              <span class="left">Cantidad: {{ vm.pedidos_dia.cantidad }}</span>
              <span class="right">Valor: {{ vm.pedidos_dia.valor | currency:'$' }}</span>
            </div>
          </div>
        </div>
        <div class="content" flex>
          <div class="card md-whiteframe-4dp">
            <div class="md-title">Pedidos por día de la semana</div>
            <canvas id="pedidos_dias_semanas" class="chart chart-bar" chart-data="vm.pedidos_dias_semanas.data" chart-labels="vm.pedidos_dias_semanas.labels"
              chart-options="vm.pedidos_dias_semanas.options"></canvas>
            <div class="md-footer">
              <span class="left">Total: {{ vm.pedidos_dias_semanas.total }}</span>
            </div>
          </div>
        </div>
      </div>

      <div layout="row" layout-xs="column">
        <div class="content" flex>
          <div class="card md-whiteframe-4dp">
            <div class="md-title">Top Productos Vendidos</div>
            <canvas id="top_vendidos" class="chart chart-pie grafica" chart-colors="vm.productos_vendidos.colors" chart-data="vm.productos_vendidos.data"
              chart-labels="vm.productos_vendidos.labels" chart-options="vm.productos_vendidos.options" chart-series="vm.productos_vendidos.series"></canvas>
            <div class="md-footer">
              <span class="left">Total: {{ vm.productos_vendidos.total }}</span>
            </div>
          </div>
        </div>
        <div class="content" flex>
          <div class="card md-whiteframe-4dp">
            <div class="md-title">Clientes por género</div>
            <canvas id="clientes_generos" class="chart chart-pie grafica" chart-colors="vm.clientes_generos.colors" chart-data="vm.clientes_generos.data"
              chart-labels="vm.clientes_generos.labels" chart-options="vm.clientes_generos.options" chart-series="vm.clientes_generos.series"></canvas>
            <div class="md-footer">
              <span class="left">Total: {{ vm.clientes_generos.total }} (Esta gráfica no se ve afectada por las fechas)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / CONTENT CARD -->

</div>
<!-- / CENTER -->

</div>