#administrador-reporte-graficas {
    .center {
        .header {
            height: 104px !important;
            min-height: 104px !important;
            max-height: 136px !important;
            padding: 30px 0;
            .h1 {
                .md-icon {
                    margin-right: 12px;
                }
            }
            .reporte-tablas-count {
                margin: 6px 0 0 36px;
            }
        }
        .content-card {
            margin-top: 10px;
            .toolbar {
                padding: 8px;
            }
            .content {
                padding: 10px;
                .card {
                    .md-title {
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    .md-footer {
                        position: relative;
                        font-weight: bold;
                        margin-top: 20px;
                        border-top: 1px solid rgba(0, 0, 0, 0.3);
                        padding: 20px 10px;
                        .left {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                        }
                        .right {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                        }
                    }
                    .grafica {}
                }
            }
        }
    }
}