<md-dialog aria-label="Haga que su cliente se sienta especial">
  <form name="formModificarMesero" class="md-inline-form" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-icon md-font-icon="icon-pencil"></md-icon>
        <h2 style="margin-left: 15px;">Modificar datos del producto</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog" class="name"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" layout-gt-sm="row">
          <md-input-container flex>
            <input type="text" name="name" ng-model="producto.name" placeholder="Nombre" required>
            <div ng-messages="formModificarMesero.name.$error" role="alert">
              <div ng-message="required">
                <span>Digite el nombre del producto </span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" layout-gt-sm="row">
            <md-input-container flex>
              <input type="text" name="price" ng-model="producto.price" placeholder="Número" required>
              <div ng-messages="formModificarMesero.price.$error" role="alert">
                <div ng-message="required">
                  <span>Digite el precio del producto </span>
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                  <md-select type="text" name="categoria" ng-model="producto.category_id" placeholder="Elegir categoria" required>
                    <md-option ng-value="categoria.id" ng-repeat="categoria in categorias">
                      {{categoria.name}}
                    </md-option>
                  </md-select>
                  <div ng-messages="formNuevoMesero.categoria.$error" role="alert">
                    <div ng-message="required">
                      <span>Debe seleccionar la categoria del producto.</span>
                    </div>
                  </div>
                </md-input-container>
            </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised  md-green-600-bg submit-button" aria-label="Enviar" ng-disabled="formModificarMesero.$invalid || formModificarMesero.$pristine"
        ng-click="update()">
        Confirmar
      </md-button>
      <span flex></span>
      <md-button ng-click="closeDialog()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>