#administrador-productos {
    .center {
        .header {
            height: 102px !important;
            min-height: 102px !important;
            max-height: 102px !important;
            padding: 24px 0;
            .h1 {
                .md-icon {
                    margin-right: 12px;
                }
            }
            .mesas-count {
                margin: 6px 0 0 0px;
            }
        }
        .content-card {
            margin-top: 10px;
            padding: 10px 40px;
            .toolbar {
                padding: 8px;
            }
            .content {
                padding: 0;
                .dataTables_wrapper {
                    .dataTables_scrollHead {
                        min-height: 64px;
                    }
                }
            }
        }
    }
}

#administrador-nuevo-producto {
    .center {
        .header {
            height: 102px !important;
            min-height: 102px !important;
            max-height: 102px !important;
            padding: 24px 0;
            .h1 {
                .md-icon {
                    margin-right: 12px;
                }
            }
        }
        .content-card {
            margin-top: 10px;
            padding: 10px 40px;
            .toolbar {
                padding: 8px;
            }
            .content {
                padding: 0;
                .container-form {
                    margin-bottom: 30px;
                }
            }
        }
        .cancelar {
            color: #fff;
        }
    }
}