<md-dialog aria-label="Haga que su cliente se sienta especial">
    <form name="formEliminarMesero" class="md-inline-form" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon md-font-icon="icon-account-remove"></md-icon>
                <h2>Eliminar Sede</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg"
                             aria-label="Close dialog" class="name"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                ¿Esta seguro de eliminar la sede?
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button type="submit" class="md-raised  md-red-800-bg submit-button" aria-label="Eliminar" style="color: #fff;" ng-click="remove()">
                Confirmar
            </md-button>
            <span flex></span>
            <md-button ng-click="closeDialog()">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>