<md-dialog style="width:1280px; height: 700px" aria-label="Haga que su cliente se sienta especial" id="modal-usuario">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Nueva Sede</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog" class="name"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form name="formNuevaSede" novalidate>
    <md-dialog-content>
      <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex>
          <label>Establecimiento</label>
          <md-select type="text" name="establecimiento" ng-model="establecimiento" required ng-change="cargarCiudad()">
            <md-option ng-repeat="establecimiento in establecimientos" ng-value="establecimiento.id">{{establecimiento.name}}</md-option>
          </md-select>
          <div ng-messages="formNuevaSede.establecimiento.$error" ng-show="formNuevaSede.establecimiento.$touched" role="alert">
            <div ng-message="required">
              <span>Digite el departamento de la sede.</span>
            </div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Nombre</label>
          <input ng-model="sede.name" id="name" name="name" class="md-no-underline" required>
          <div ng-messages="formNuevaSede.name.$error" ng-show="formNuevaSede.name.$touched" role="alert">
            <div ng-message="required">
              <span>Digite el nombre de la sede.</span>
            </div>
          </div>
        </md-input-container>
      </div>
      <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex>
          <label>Dirección</label>
          <input ng-model="sede.address" name="address" class="md-no-underline" required>
          <div ng-messages="formNuevaSede.address.$error" ng-show="formNuevaSede.address.$touched" role="alert">
            <div ng-message="required">
              <span>Digite la dirección de la sede.</span>
            </div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Teléfono</label>
          <input ng-model="sede.phone" name="phone" class="md-no-underline" required>
          <div ng-messages="formNuevaSede.phone.$error" ng-show="formNuevaSede.phone.$touched" role="alert">
            <div ng-message="required">
              <span>Digite el teléfono de la sede.</span>
            </div>
          </div>
        </md-input-container>
      </div>
      <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex>
          <label>Departamento</label>
          <md-select type="text" name="departamento" ng-model="sede.departament" required>
            <md-option ng-repeat="departamento in departamentos" ng-value="departamento.departamento">{{departamento.departamento}}</md-option>
          </md-select>
          <div ng-messages="formNuevaSede.departamento.$error" ng-show="formNuevaSede.departamento.$touched" role="alert">
            <div ng-message="required">
              <span>Digite el departamento de la sede.</span>
            </div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Ciudad</label>
          <md-select type="text" name="ciudad" ng-model="sede.city" required>
            <md-option ng-repeat="ciudad in ciudades" ng-value="ciudad">{{ciudad}}</md-option>
          </md-select>
          <div ng-messages="formNuevaSede.ciudad.$error" ng-show="formNuevaSede.ciudad.$touched" role="alert">
            <div ng-message="required">
              <span>Digite el ciudad de la sede.</span>
            </div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="crear()" type="submit" class="md-raised  md-green-600-bg submit-button" aria-label="Enviar" ng-disabled="formNuevaSede.$invalid || formNuevaSede.$pristine || productosSeleccionados.length == 0">
        Confirmar
      </md-button>
      <span flex></span>
      <md-button ng-click="closeDialog()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>