<div id="vendedor-pedidos" class="page-layout carded fullwidth single-scroll" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="space-between center">

      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h1" layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-map-marker-radius"></md-icon>
          <span>Sedes</span>
        </div>
        <div class="pedidos-count secondary-text">
          <span>Total sedes:</span>
          <span>{{vm.sedes.length}}</span>
        </div>
      </div>
      <a class="md-raised md-background md-button md-default-theme md-ink-ripple" ng-click="vm.showDialogNuevaSede($event)">
        <span class="ng-scope">nueva sede</span>
        <div class="md-ripple-container"></div>
      </a>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>
      <!-- CONTENT -->
      <div class="content">
        <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions">
          <thead>
            <tr>
              <th class="secondary-text"></th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Nombre</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Dirección</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Ciudad</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Teléfono</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Establecimiento</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Mesas</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="sede in vm.sedes">
              <td>
                <md-menu md-offset="0 -7">
                  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                    <md-icon md-menu-origin="" md-font-icon="icon-dots-vertical"></md-icon>
                  </md-button>
                  <md-menu-content width="2">
                    <md-menu-item>
                      <md-button ng-click="vm.showDialogEditarSede($event, sede)">
                        <md-icon md-font-icon="icon-border-color"></md-icon>
                        <span md-menu-align-target="">
                          Editar
                        </span>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="vm.showDialogEliminarSede($event, sede)">
                        <md-icon md-font-icon="icon-cancel"></md-icon>
                        <span md-menu-align-target="">
                          Eliminar
                        </span>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </td>
              <td>{{sede.name}}</td>
              <td ng-if="sede.address">{{sede.address}}</td>
              <td ng-if="!sede.address">No registrada</td>
              <td>{{sede.city}}, {{sede.departament}}</td>
              <td>{{sede.phone}}</td>
              <td>{{sede.establishment.name}}</td>
              <td ng-if="sede.tables.length>0">{{sede.tables.length}}</td>
              <td ng-if="sede.tables.length===0">Sin mesas registradas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>