<md-dialog style="width:1280px; height: 700px" aria-label="Haga que su cliente se sienta especial" id="modal-usuario">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Nuevo usuario</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog" class="name"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form name="formNuevoUsuario" novalidate>
    <md-dialog-content>
      <div id="informacion_usuario">
        <h2>Información del usuario</h2>
        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="50">
            <label>Nombres</label>
            <input ng-model="usuario.name" id="name" name="name" class="md-no-underline" required>
            <div ng-messages="formNuevoUsuario.name.$error" ng-show="formNuevoUsuario.name.$touched" role="alert">
              <div ng-message="required">
                <span>Digite los nombres del cliente.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="50">
            <label>Apellidos</label>
            <input ng-model="usuario.last_name" name="last_name" class="md-no-underline" required>
          </md-input-container>
        </div>
        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="50">
            <label>Telefono ó Celular</label>
            <input type="number" ng-model="usuario.phone" name="telefono" class="md-no-underline" required ng-maxlength="10" ng-minlength="7">
            <div ng-messages="formNuevoUsuario.telefono.$error" ng-show="formNuevoUsuario.telefono.$touched" role="alert">
              <div ng-message="required">
                <span>Digite el número teléfonico.</span>
              </div>
              <div ng-message="minlength">
                <span>El teléfono debe tener como minimo 7 digitos.</span>
              </div>
              <div ng-message="maxlength">
                <span>El teléfono debe tener como maximo 10 digitos.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="50">
            <label>E-mail</label>
            <input ng-model="usuario.email" type="email" name="email" class="md-no-underline">
            <div ng-messages="formNuevoUsuario.email.$error" ng-show="formNuevoUsuario.email.$touched" role="alert">
              <div ng-message="email">
                <span>Digite un E-mail valido (ejemplo@mail.com).</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="50">
            <md-select type="text" name="genero" ng-model="usuario.gender" placeholder="Género" required>
              <md-option value="masculino">Masculino</md-option>
              <md-option value="femenino">Femenino</md-option>
            </md-select>
            <div ng-messages="formNuevoUsuario.genero.$error" ng-show="formNuevoUsuario.genero.$touched" role="alert">
              <div ng-message="required">
                <span>Seleccione el género.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="50">
            <label>Nombre de usuario</label>
            <input ng-model="usuario.username" type="text" name="username" required class="md-no-underline">
            <div ng-messages="formNuevoUsuario.username.$error" ng-show="formNuevoUsuario.username.$touched" role="alert">
              <div ng-message="required">
                <span>Digite el nombre de usuario del usuario.</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="50">
            <label>Contraseña</label>
            <input ng-model="usuario.password" type="password" name="password" class="md-no-underline">
          </md-input-container>
          <md-input-container flex="50">
            <label>Confirmar Contraseña</label>
            <input type="password" ng-model="usuario.password_confirmation" type="password_confirmation" name="password_confirmation"
              class="md-no-underline" ng-pattern="{{usuario.password}}">
            <div ng-messages="formNuevoUsuario.password_confirmation.$error" ng-show="formNuevoUsuario.password_confirmation.$touched"
              role="alert">
              <div ng-message="pattern">
                <span>las contraseñas deben coincidir.</span>
              </div>
            </div>
          </md-input-container>
        </div>
      </div>
      <!-- end informacion cliente-->
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="editar()" type="submit" class="md-raised  md-green-600-bg submit-button" aria-label="Enviar" ng-disabled="formNuevoUsuario.$invalid || formNuevoUsuario.$pristine || productosSeleccionados.length == 0">
        Confirmar
      </md-button>
      <span flex></span>
      <md-button ng-click="closeDialog()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>