<md-dialog style="width:1280px; height: 700px" aria-label="Haga que su cliente se sienta especial" id="modal-usuario">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Nuevo usuario</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog" class="name"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form name="formNuevoUsuario" novalidate>
    <md-dialog-content>
      <div layout="row" layout-gt-xs="row" flex>
      </div>
      <div id="informacion_usuario">
        <h2>Información del usuario</h2>
        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="50">
            <label>Nombres</label>
            <input ng-model="usuario.name" id="name" name="name" class="md-no-underline" required>
            <div ng-messages="formNuevoUsuario.name.$error" ng-show="formNuevoUsuario.name.$touched" role="alert">
              <div ng-message="required">
                <span>Digite los nombres del cliente.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="50">
            <label>Apellidos</label>
            <input ng-model="usuario.last_name" name="last_name" class="md-no-underline" required>
            <div ng-messages="formNuevoUsuario.last_name.$error" ng-show="formNuevoUsuario.last_name.$touched" role="alert">
              <div ng-message="required">
                <span>Digite los apellidos del cliente.</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="50">
            <label>Telefono ó Celular</label>
            <input type="number" ng-model="usuario.phone" last_name="telefono" class="md-no-underline" required ng-maxlength="10" ng-minlength="7">
            <div ng-messages="formNuevoUsuario.telefono.$error" ng-show="formNuevoUsuario.telefono.$touched" role="alert">
              <div ng-message="required">
                <span>Digite el número teléfonico.</span>
              </div>
              <div ng-message="minlength">
                <span>El teléfono debe tener como minimo 7 digitos.</span>
              </div>
              <div ng-message="maxlength">
                <span>El teléfono debe tener como maximo 10 digitos.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="50">
            <label>E-mail</label>
            <input ng-model="usuario.email" type="email" name="email" class="md-no-underline">
            <div ng-messages="formNuevoUsuario.email.$error" ng-show="formNuevoUsuario.email.$touched" role="alert">
              <div ng-message="email">
                <span>Digite un E-mail valido (ejemplo@mail.com).</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="50">
            <md-select type="text" name="genero" ng-model="usuario.gender" placeholder="Género" required>
              <md-option value="masculino">Masculino</md-option>
              <md-option value="femenino">Femenino</md-option>
            </md-select>
            <div ng-messages="formNuevoUsuario.genero.$error" ng-show="formNuevoUsuario.genero.$touched" role="alert">
              <div ng-message="required">
                <span>Seleccione el género.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="50" flex-gt-xs="50">
            <label>Tipo</label>
            <md-select type="text" name="tipo" ng-model="type" placeholder="Tipo" required ng-change="seleccionarTipo()">
              <md-option ng-value="1">Vendedor</md-option>
              <md-option ng-value="2">Administrador</md-option>
            </md-select>
            <div ng-messages="formNuevoUsuario.tipo.$error" ng-show="formNuevoUsuario.tipo.$touched" role="alert">
              <div ng-message="required">
                <span>Seleccione el tipo de usuario.</span>
              </div>
            </div>
          </md-input-container>
        </div>
      </div>
      <div ng-show="type==1">
        <h2>Información del vendedor</h2>
        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="33">
            <label>Documento</label>
            <input ng-model="vendedor.documento" type="number" name="documento" ng-required="type==1" class="md-no-underline" ng-maxlength="10"
              ng-minlength="9">
            <div ng-messages="formNuevoUsuario.documento.$error" ng-show="formNuevoUsuario.documento.$touched" role="alert">
              <div ng-message="required">
                <span>Digite el documento del vendedor.</span>
              </div>
              <div ng-message="minlength">
                <span>El documento debe tener como minimo 9 digitos.</span>
              </div>
              <div ng-message="maxlength">
                <span>El documento debe tener como maximo 10 digitos.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="33">
            <label>Establecimiento</label>
            <md-select type="text" name="establecimiento" ng-model="vendedor.establecimiento" ng-required="type==1" ng-change="cargarSedes()">
              <md-option ng-repeat="establecimiento in establecimientos" ng-value="establecimiento.id">{{establecimiento.name}}</md-option>
            </md-select>
            <div ng-messages="formNuevoUsuario.establecimiento.$error" ng-show="formNuevoUsuario.establecimiento.$touched" role="alert">
              <div ng-message="required">
                <span>Seleccione el establecimiento del vendedor.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="33">
            <label>Sede</label>
            <md-select type="text" name="sede" ng-model="vendedor.sede" ng-required="type==1" ng-change="sede()">
              <md-option ng-repeat="sede in sedes" ng-value="sede.id">{{sede.name}}</md-option>
            </md-select>
            <div ng-messages="formNuevoUsuario.sede.$error" ng-show="formNuevoUsuario.sede.$touched" role="alert">
              <div ng-message="required">
                <span>Seleccione la sede del vendedor.</span>
              </div>
            </div>
          </md-input-container>
        </div>
      </div>
      <div ng-show="type==2">
        <h2>Información del Administrador</h2>
        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="50">
            <label>Nombre de usuario</label>
            <input ng-model="usuario.username" type="text" name="username" ng-required="type==2" class="md-no-underline">
            <div ng-messages="formNuevoUsuario.username.$error" ng-show="formNuevoUsuario.username.$touched" role="alert">
              <div ng-message="required">
                <span>Digite el nombre de usuario del administrador.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="50">
            <label>Contraseña</label>
            <input ng-model="usuario.password" type="password" name="password" ng-required="type==2" class="md-no-underline">
            <div ng-messages="formNuevoUsuario.password.$error" ng-show="formNuevoUsuario.password.$touched" role="alert">
              <div ng-message="required">
                <span>Digite la contraseña del administrador.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="50">
            <label>Confirmar Contraseña</label>
            <input type="password" ng-model="usuario.password_confirmation" type="password_confirmation" name="password_confirmation"
              ng-required="type==2" class="md-no-underline" ng-pattern="{{usuario.password}}">
            <div ng-messages="formNuevoUsuario.password_confirmation.$error" ng-show="formNuevoUsuario.password_confirmation.$touched"
              role="alert">
              <div ng-message="required">
                <span>Digite la confirmación de la contraseña del administrador.</span>
              </div>
              <div ng-message="pattern">
                <span>las contraseñas deben coincidir.</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="50">
            <label>SMS Actuales</label>
            <input ng-model="administrador.sms" type="number" name="sms" ng-required="type==2" class="md-no-underline" min="0">
            <div ng-messages="formNuevoUsuario.sms.$error" ng-show="formNuevoUsuario.sms.$touched" role="alert">
              <div ng-message="required">
                <span>Digite los sms actuales del administrador.</span>
              </div>
              <div ng-message="min">
                <span>sms actuales no pueden ser negativos.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="50">
            <label>Tipo</label>
            <md-select type="text" name="a_type" ng-model="administrador.type" ng-required="type==2" ng-change="a_type()">
              <md-option ng-value="1">Restaurante</md-option>
              <md-option ng-value="2">Mensajeria</md-option>
            </md-select>
            <div ng-messages="formNuevoUsuario.a_type.$error" ng-show="formNuevoUsuario.a_type.$touched" role="alert">
              <div ng-message="required">
                <span>Seleccione el tipo de administrador.</span>
              </div>
            </div>
          </md-input-container>
        </div>
      </div>
      <!-- end informacion cliente-->


    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="crear()" type="submit" class="md-raised  md-green-600-bg submit-button" aria-label="Enviar" ng-disabled="formNuevoUsuario.$invalid || formNuevoUsuario.$pristine || productosSeleccionados.length == 0">
        Confirmar
      </md-button>
      <span flex></span>
      <md-button ng-click="closeDialog()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>