<div id="vendedor-pedidos" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center" layout="column" flex>
  
      <!-- CONTENT HEADER -->
      <div class="header" layout="row" layout-align="space-between center">
  
        <div class="white-fg" layout="column" layout-align="start start">
          <div class="h1" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-account-switch"></md-icon>
            <span>Usuarios</span>
          </div>
          <div class="pedidos-count secondary-text">
            <span>Total usuarios:</span>
            <span>{{vm.usuarios.length}}</span>
          </div>
        </div>        
        <a class="md-raised md-background md-button md-default-theme md-ink-ripple" ng-click="vm.showDialogNuevoUsuario($event)">
          <span class="ng-scope">nuevo usuario</span>
          <div class="md-ripple-container"></div>
        </a>
      </div>
      <!-- / CONTENT HEADER -->
  
      <!-- CONTENT CARD -->
      <div class="content-card" layout="column" flex>
        <!-- CONTENT -->
        <div class="content">
          <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions">
            <thead>
              <tr>
                <th class="secondary-text"></th>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Usuario</span>
                  </div>
                </th>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Nombres</span>
                  </div>
                </th>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Apellidos</span>
                  </div>
                </th>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Genero</span>
                  </div>
                </th>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Rol</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="usuario in vm.usuarios">
                <td>
                  <md-menu md-offset="0 -7">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                      <md-icon md-menu-origin="" md-font-icon="icon-dots-vertical"></md-icon>
                    </md-button>
                    <md-menu-content width="2">
                      <md-menu-item>
                        <md-button ng-click="vm.showDialogEditarUsuario($event, usuario)">
                          <md-icon md-font-icon="icon-border-color"></md-icon>
                          <span md-menu-align-target="">
                            Editar
                          </span>
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="vm.showDialogEliminarUsuario($event, usuario)">
                          <md-icon md-font-icon="icon-cancel"></md-icon>
                          <span md-menu-align-target="">
                            Eliminar
                          </span>
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </td>
                <td>{{usuario.username}}</td>
                <td>{{usuario.name}}</td>
                <td>{{usuario.last_name}}</td>
                <td>{{usuario.gender}}</td>
                <td ng-if="usuario.rol == 2">Administrador</td>
                <td ng-if="usuario.rol == 3">Vendedor</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- / CONTENT -->
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>