<div id="vendedor-cumpleanos" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">

            <div class="white-fg" layout="column" layout-align="start start">

                <div class="h1" layout="row" layout-align="space-around center">
                    <div>
                        <md-icon md-font-icon="icon-cake-variant"></md-icon>
                    </div>
                    <div>Cumpleaños</div>
                </div>

                <div class="cumpleanos-count secondary-text">
                    <span>Cumpliendo años hoy:</span>
                    <span>{{vm.cumpleanos.length}}</span>
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Nombre completo</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Nº de contacto</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Direcciones</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Fecha nacimiento</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">E-mail</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Cliente de</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Nº de pedidos</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Felicitar</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cumpleano in vm.cumpleanos">
                            <td>{{cumpleano.nombre_completo}}</td>
                            <td>{{cumpleano.numero_contacto}}</td>
                            <td>{{cumpleano.direccion}}</td>
                            <td>{{cumpleano.fecha_nacimiento}}</td>
                            <td>{{cumpleano.email}}</td>
                            <td>{{cumpleano.local}}</td>
                            <td>{{cumpleano.numero_pedidos}}</td>
                            <td>
                                <md-button class="edit-button md-icon-button" ng-click="vm.showDialogFelicitar($event, cumpleano)" aria-label="Mensaje">
                                    <md-icon md-font-icon="icon-comment-text-outline"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>