<md-dialog aria-label="Haga que su cliente se sienta especial">
    <form  name="felicitacionForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Haga que su cliente se sienta especial</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg"
                             aria-label="Close dialog" class="name"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Escríbale un mensaje de felicitacíon</h2>
                <md-input-container class="md-block">
                    <label>Mensaje</label>
                    <textarea ng-model="mensaje" name="mensaje" ng-maxlength="200" rows="4" ng-focus required>
                    </textarea>
                    <div ng-messages="felicitacionForm.mensaje.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Debes escribir un mensaje.</span>
                        </div>
                        <div ng-message="maxlength">
                            <span>El mensaje debe ser inferior a 200 caracteres.</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button   type="submit" class="md-raised  md-green-600-bg submit-button" aria-label="Enviar"
                         ng-disabled="felicitacionForm.$invalid || felicitacionForm.$pristine" >
                Enviar
            </md-button>
            <span flex></span>
            <md-button ng-click="closeDialog()">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>