<div id="vendedor-resumen-dia" class="page-layout carded fullwidth single-scroll" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg" style="height:120px"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="column" layout-align="space-between">

      <div layout="row" layout-align="space-between center">

        <div class="white-fg h1" layout="row" layout-align="space-between center">
          <md-icon class="icon-book-multiple"></md-icon>
          <span>Resumen del día</span>
        </div>
      </div>
      <div class="white-fg h3">
        <span>Aquí veras los pedidos despachados del día que selecciones.</span>
      </div>

    </div>
    <!-- / CONTENT HEADER -->


    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>
      <div layout="row" class="container">
        <md-input-container flex="25">
          <md-datepicker ng-model="vm.initialDate" md-placeholder="Fecha" name="fecha" ng-change="vm.cargarPedidosEnviadosDia()" class="md-no-underline"></md-datepicker>
        </md-input-container>
      </div>

      <!-- CONTENT TOOLBAR -->

      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content">

        <table datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions">
          <thead>
            <tr>
              <th class="secondary-text"></th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">#</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Detalles</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Cliente</span>
                </div>
              </th>
              <th class="secondary-text" title="Valor del domicilio">
                <div class="table-header">
                  <span class="column-title">Tipo</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Subtotal</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Total</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pedido in vm.pedidos">
                <td>
                  <md-menu md-offset="0 -7">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                      <md-icon md-menu-origin="" md-font-icon="icon-dots-vertical"></md-icon>
                    </md-button>
                    <md-menu-content width="2">
                      <md-menu-item>
                        <md-button ng-click="vm.imprimirPedido($event, pedido)">
                          <md-icon md-font-icon="icon-printer"></md-icon>
                          <span md-menu-align-target="">
                            Imprimir
                          </span>
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </td>
              <td>{{pedido.consecutive}}</td>
              <td class="products">
                <ul>
                  <li ng-repeat="producto in pedido.products">
                    {{producto.name}}
                    <br> {{ producto.pivot.quantity }} X {{ producto.pivot.price | currency:'$':0 }} = {{ producto.pivot.quantity*producto.pivot.price
                    | currency:'$':0 }}
                  </li>
                </ul>
              </td>
              <td ng-if="pedido.customer">{{pedido.customer.user.name}} {{pedido.customer.user.last_name}}</td>
              <td ng-if="!pedido.customer">No registrado</td>
              <td>{{pedido.type}}</td>
              <td>{{pedido.subtotal}}</td>
              <td>{{pedido.total}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>

<div class="content">
  <!-- WIDGET GROUP -->
  <div class="widget-group" layout="row" flex="100" layout-wrap>

    <!-- WIDGET 1 -->
    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

      <!-- Front -->
      <ms-widget-front class="h-170 p-16 light-blue-bg">
        <div class="pb-8" layout="row" layout-align="space-between center">
          <div class="h4 font-weight-500 secondary-text">Total de ingresos</div>

          <md-menu>
            <md-button aria-label="more" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>
            <md-menu-content width="1">
              <md-menu-item>
                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                  Descripción
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>

        <div class="white-fg" layout="column" layout-align="space-between" flex>
          <div class="md-display-1" layout="row" layout-align="start center">
            <span>{{vm.total_ingresos | number}}</span>
            <md-icon md-font-icon="icon-trending-up" class="s36 ml-16"></md-icon>
          </div>

          <div class="pb-16">
            <md-progress-linear md-mode="determinate" value="{{ vm.total_ingresos }}"></md-progress-linear>
          </div>
        </div>
      </ms-widget-front>
      <!-- / Front -->

      <!-- Back -->
      <ms-widget-back class="p-16 light-blue-bg white-fg">
        <div class="flip-to-front">
          <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
          </md-button>
        </div>

        <div>
          <p>Esta tarjeta representa la suma de los ingresos de los pedidos despachados en la fecha que has seleccionado.
          </p>

        </div>
      </ms-widget-back>
      <!-- / Back -->

    </ms-widget>
    <!-- / WIDGET 1 -->

    <!-- WIDGET 2 -->
    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

      <!-- Front -->
      <ms-widget-front class="h-170 p-16 green-bg">
        <div class="pb-8" layout="row" layout-align="space-between center">
          <div class="h4 font-weight-500 secondary-text">Cantidad despachada</div>

          <md-menu>
            <md-button aria-label="more" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                  Descripción
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>

        <div class="white-fg" layout="column" layout-align="space-between" flex>
          <div>
            <div class="md-display-1 pb-16">{{ vm.cantidad_despachada }}
              <md-icon md-font-icon="icon-trending-up" class="s36 ml-16"></md-icon>
            </div>

            <div class="pb-16">
              <md-progress-linear md-mode="determinate" value="{{ vm.cantidad_despachada }}"></md-progress-linear>
            </div>
          </div>
        </div>
      </ms-widget-front>
      <!-- / Front -->

      <!-- Back -->
      <ms-widget-back class="p-16 green-bg white-fg">
        <div class="flip-to-front">
          <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
          </md-button>
        </div>

        <div>
          <p>Esta tarjeta representa la cantidad de los pedidos despachados en la fecha que has seleccionado.
          </p>
        </div>
      </ms-widget-back>
      <!-- / Back -->

    </ms-widget>
    <!-- / WIDGET 2 -->

    <!-- WIDGET 3 -->
    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

      <!-- Front -->
      <ms-widget-front class="h-170 p-16 blue-grey-bg white-fg">
        <div class="pb-8" layout="row" layout-align="space-between center">
          <div class="h4 font-weight-500 secondary-text">Cantidad presencial</div>

          <md-menu>
            <md-button aria-label="more" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                  Descripción
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>

        <div layout="column" layout-align="space-between" flex>
          <div>
            <div class="md-display-1 pb-16">{{ vm.cantidad_presencial }}
              <md-icon md-font-icon="icon-trending-up" class="s36 ml-16"></md-icon>
            </div>

            <div class="pb-8">
              <md-progress-linear md-mode="determinate" value="{{ vm.cantidad_presencial  }}"></md-progress-linear>
            </div>
          </div>
        </div>
      </ms-widget-front>
      <!-- / Front -->

      <!-- Back -->
      <ms-widget-back class="p-16 blue-grey-bg white-fg">
        <div class="flip-to-front">
          <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
          </md-button>
        </div>

        <div>
          <p>Esta tarjeta representa la cantidad de pedidos despachados de forma presencial en la fecha que has seleccionado.</p>
        </div>
      </ms-widget-back>
      <!-- / Back -->

    </ms-widget>
    <!-- / WIDGET 3 -->

    <!-- WIDGET 4 -->
    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

      <!-- Front -->
      <ms-widget-front class="h-170 p-16 deep-purple-bg white-fg">
        <div class="pb-8" layout="row" layout-align="space-between center">
          <div class="h4 font-weight-500 secondary-text">Cantidad domicilios</div>

          <md-menu>
            <md-button aria-label="more" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                  Descripción
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>

        <div layout="column" layout-align="space-between" flex>
          <div>
            <div class="md-display-1 pb-16">{{ vm.cantidad_domicilio }}
              <md-icon md-font-icon="icon-trending-up" class="s36 ml-16"></md-icon>
            </div>

            <div class="pb-8">
              <md-progress-linear md-mode="determinate" value="{{ vm.cantidad_domicilio }}"></md-progress-linear>
            </div>
          </div>
        </div>
      </ms-widget-front>
      <!-- / Front -->

      <!-- Back -->
      <ms-widget-back class="p-16 deep-purple-bg white-fg">
        <div class="flip-to-front">
          <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
          </md-button>
        </div>

        <div>
          <p>Esta tarjeta representa la cantidad de pedidos despachados de forma de domicilio en la fecha que has seleccionado.</p>
        </div>
      </ms-widget-back>
      <!-- / Back -->

    </ms-widget>
    <!-- / WIDGET 4 -->

  </div>
  <!-- / WIDGET GROUP -->
</div>
<!-- / CONTENT -->

<ng-include src="'app/main/vendedor/pedidos/modal-resumen-pedido.html'"></ng-include>