<div id="administrador-informacion-cuenta" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header">
            <span class="h1 white-fg">
                <md-icon class="icon-account"></md-icon>
                Información de la cuenta
            </span>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

                <form name="formCuenta" class="md-inline-form" novalidate>

                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <input type="text" name="nombre_usuario" ng-model="vm.user.username" placeholder="Nombre de usuario" disabled>
                            <div ng-messages="formCuenta.username.$error" role="alert">
                                <div ng-message="required">
                                    <span>El nombre de usuario es requerido.</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <input type="number" name="mensajes_restantes" ng-model="vm.user.administrator.sms" placeholder="Mensajes restantes" disabled>
                        </md-input-container>
                    </div>

                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <input type="text" name="name" ng-model="vm.user.name" placeholder="Nombre" required>
                            <div ng-messages="formCuenta.name.$error" role="alert">
                                <div ng-message="required">
                                    <span>El nombre es requerido.</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <input type="text" name="last_name" ng-model="vm.user.last_name" placeholder="Apellido" required>
                            <div ng-messages="formCuenta.last_name.$error" role="alert">
                                <div ng-message="required">
                                    <span>El apellido es requerido.</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <input type="email" name="email" ng-model="vm.user.email" placeholder="E-mail" required>
                            <div ng-messages="formCuenta.email.$error" role="alert">
                                <div ng-message="required">
                                    <span>El E-mail es requerido.</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <md-select type="text" name="gender" ng-model="vm.user.gender" placeholder="Género" class="md-no-underline" required>
                                <md-option value="masculino">Masculino</md-option>
                                <md-option value="femenino">Femenino</md-option>
                            </md-select>
                            <div ng-messages="formCuenta.gender.$error" role="alert">
                                <div ng-message="required">
                                    <span>El género es requerido.</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <input type="password" name="password" ng-model="vm.user.password" placeholder="Contraseña" required>
                            <div ng-messages="formCuenta.password.$error" role="alert">
                                <div ng-message="required">
                                    <span>La contraseña es requerida.</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <!-- "\b{{vm.user.password}}\b" está generando error en la consola. -->
                            <input type="password" name="password_confirmation" ng-model="vm.user.password_confirmation" placeholder="Confirmar contraseña"
                                ng-pattern="{{vm.user.password}}" required>
                                <div ng-messages="formCuenta.password_confirmation.$error" role="alert">
                                    <div ng-message="required">
                                        <span>Confirme la contraseña.</span>
                                    </div>

                                    <div ng-message="pattern">
                                        <span>Las contraseñas no coinciden.</span>
                                    </div>

                                </div>
                        </md-input-container>
                    </div>

                    <md-button type="submit" ng-click="vm.confirmar()" class="md-raised boton-color" aria-label="Confirmar" ng-disabled="formCuenta.$invalid || formCuenta.$pristine">
                        Confirmar
                    </md-button>
                </form>

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>