#administrador-informacion-cuenta {
    .center {
        .header {
            height: 136px !important;
            min-height: 100px !important;
            max-height: 100px !important;
            padding: 24px 0;
            .h1 {
                .md-icon {
                    margin-right: 12px;
                }
            }
        }
        .content-card {
            margin-top: 10px;
            padding: 10px 40px;
        }
    }
    .boton-color {
        background-color: #47BA56;
        color: #ffffff;
    }
}