<md-dialog style="width:1280px" aria-label="Haga que su cliente se sienta especial" id="modal-pedidos">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Nuevo pedido de {{ nombre_sede }}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog" class="name"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form name="formNuevoPedido" novalidate>
    <md-dialog-content>
      <div layout="row" layout-gt-xs="row" flex>
        <md-input-container flex="50" flex-gt-xs="50">
          <label>Tipo</label>
          <md-select type="text" name="tipo" ng-model="pedido.type" placeholder="Tipo" required ng-change="seleccionarTipo()">
            <md-option ng-value="1">Mesa</md-option>
            <md-option ng-value="2">Domicilio</md-option>
          </md-select>
          <div ng-messages="formNuevoPedido.tipo.$error" ng-show="formNuevoPedido.tipo.$touched" role="alert">
            <div ng-message="required">
              <span>Seleccione el tipo de pedido.</span>
            </div>
          </div>
        </md-input-container>

        <md-input-container flex="100" ng-show="pedido.type==1" flex-gt-xs="50">
          <label>Mesa</label>
          <md-select type="text" name="mesa" ng-model="pedido.table_id" placeholder="Mesa" ng-required="pedido.type==1">
            <md-option ng-repeat="mesa in mesas" ng-value="mesa.id">Mesa {{ mesa.number }}</md-option>
          </md-select>
          <div ng-messages="formNuevoPedido.mesa.$error" ng-show="formNuevoPedido.mesa.$touched" role="alert">
            <div ng-message="required">
              <span>Seleccione la mesa.</span>
            </div>
          </div>
        </md-input-container>

        <md-input-container ng-show="pedido.type==1 && meseros.length > 0" flex="100" flex-gt-xs="50">
          <label>Mesero</label>
          <md-select type="text" name="mesero" ng-model="pedido.employee_id" placeholder="Mesero" class="md-no-underline" ng-required="tipo =='mesa' && meseros.length > 0">
            <md-option ng-repeat="mesero in meseros" ng-value="mesero.id">{{ mesero.user.name }}</md-option>
          </md-select>
          <div ng-messages="formNuevoPedido.mesero.$error" ng-show="formNuevoPedido.mesero.$touched" role="alert">
            <div ng-message="required">
              <span>Debe seleccionar el mesero.</span>
            </div>
          </div>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row">
        <md-input-container flex="100" flex-gt-xs="50">
          <label>Escriba aquí para buscar el producto</label>
          <angucomplete-alt class="md-no-underline ng-pristine md-input" id="busqueda-producto" description-field="price" input-class="capitalize fd-input"
            local-data="productos" match-class="highlight" minlength="1" search-fields="name" selected-object="agregarProducto"
            text-no-results="No está registrado. Haga clic en + para registrarlo." text-searching="Buscando producto..." title-field="name"
            clear-selected="true" />
        </md-input-container>
        <md-input-container flex-gt-xs="30" flex="100">
          <md-button class="md-icon-button cancel-button" ng-click="nuevoProducto()" aria-label="+">
            <md-icon class="icon-plus-circle" style="font-size: xx-large;"></md-icon>
          </md-button>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="20">
          <label>Total a pagar</label>
          <input type="text" name="total" ng-model="pedido.total" disabled>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" flex ng-repeat="(index, producto) in productosSeleccionados">
        <ng-form name="ProductoFieldForm">
          <md-input-container flex-gt-xs="30" flex="100">
            <label>Nombre del producto</label>
            <input name="name" type="text" ng-disabled="producto.id" ng-model="producto.name" required>
            <div ng-messages="ProductoFieldForm.name.$error" ng-show="ProductoFieldForm.name.$touched" role="alert">
              <div ng-message="required">
                <span>Digita el nombre del producto</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex-gt-xs="20" flex="100">
            <label>Precio</label>
            <input name="price" type="number" ng-model="producto.price" ng-change="precioTotal(index)" min="0" required>
            <div ng-messages="ProductoFieldForm.price.$error" ng-show="ProductoFieldForm.price.$touched" role="alert">
              <div ng-message="required">
                <span>Digita el precio del producto</span>
              </div>
              <div ng-message="min">
                <span>El precio no puede se negativo.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex-gt-xs="20" flex="100">
            <label>Cantidad</label>
            <input name="quantity" type="number" ng-model="producto.quantity" ng-change="precioTotal(index)" min="1" required>
            <div ng-messages="ProductoFieldForm.quantity.$error" ng-show="ProductoFieldForm.quantity.$touched" role="alert">
              <div ng-message="required">
                <span>Debe digitar la cantidad comprada</span>
              </div>
              <div ng-message="min">
                <span>La cantidad de ser mayor a 0.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex-gt-xs="20" flex="100">
            <label>Precio Total</label>
            <input type="text" disabled ng-model="producto.total">
          </md-input-container>
          <md-input-container flex-gt-xs="5" flex="100">
            <md-button class="md-icon-button cancel-button" ng-click="eliminarProducto(index)" aria-label="-">
              <md-icon class="icon-cancel" style="font-size: xx-large;"></md-icon>
            </md-button>
          </md-input-container>
        </ng-form>
      </div>

      <div layout="column" layout-gt-xs="row">
        <md-input-container flex="100" flex-gt-xs="100">
          <label for="detalle">Detalle del pedido</label>
          <textarea name="detalle" ng-model="pedido.detail" cols="15" rows="2" placeholder="Aqui puede detallar el pedido mas a fondo (ejemplo: Hamburguesa sin cebolla)"></textarea>
        </md-input-container>
      </div>

      <div style="cursor: pointer" ng-show="pedido.type==1" ng-click="motrarInformacion()">
        <md-icon class="{{ clase_agregar_informacion  }}"></md-icon>
        {{ aviso_agregar_informacion }}
      </div>

      <div ng-show="pedido.type==2 || estado_vizulizacion " id="informacion_cliente">
        <h2>Información del cliente</h2>
        <div layout="row" layout-gt-xs="row" flex>
          <md-input-container flex="100" flex-gt-xs="50">
            <label>Escriba aquí para buscar el cliente</label>
            <angucomplete-alt class="md-no-underline ng-pristine md-input" id="busqueda-cliente" description-field="user.last_name" input-class="capitalize fd-input"
              local-data="clientes" match-class="highlight" minlength="1" search-fields="user.name,user.last_name" selected-object="agregarCliente"
              text-no-results="No está registrado. Haga clic en + para registrarlo." text-searching="Buscando cliente..." title-field="user.name"
              clear-selected="true" disable-input="cliente.nuevo" />
          </md-input-container>
          <md-input-container flex-gt-xs="30" flex="100" ng-show="!cliente.nuevo">
            <md-button class="md-icon-button cancel-button" ng-click="nuevoCliente()" aria-label="+">
              <md-icon class="icon-plus-circle" style="font-size: xx-large;"></md-icon>
            </md-button>
          </md-input-container>
          <md-input-container flex-gt-xs="30" flex="100" ng-show="cliente.nuevo">
            <md-button class="md-icon-button cancel-button" ng-click="buscarCliente()" aria-label="+">
              <md-icon class="icon-magnify" style="font-size: xx-large;"></md-icon>
            </md-button>
          </md-input-container>
        </div>
        <div ng-show="cliente.nuevo">
          <div layout="row" layout-gt-xs="row" flex>
            <md-input-container flex="50">
              <label>Nombres</label>
              <input ng-model="customer.name" id="name" name="name" class="md-no-underline" ng-required="pedido.type==2 || estado_vizulizacion">
              <div ng-messages="formNuevoPedido.name.$error" ng-show="formNuevoPedido.name.$touched" role="alert">
                <div ng-message="required">
                  <span>Digite los nombres del cliente.</span>
                </div>
              </div>
            </md-input-container>
            <md-input-container flex="50">
              <label>Apellidos</label>
              <input ng-model="customer.last_name" name="last_name" class="md-no-underline">
            </md-input-container>
          </div>
          <div layout="column" layout-gt-xs="row" flex>
            <md-input-container flex="25">
              <label>Fecha de nacimiento</label>
              <md-datepicker ng-model="customer.birthdate" md-placeholder="Elegir" name="fecha_nacimineto" class="md-no-underline"></md-datepicker>
            </md-input-container>
            <md-input-container flex="25">
              <md-icon md-font-icon="icon-gender-male-female"></md-icon>
              <md-select type="text" name="genero" ng-model="customer.gender" placeholder="Género" ng-required="pedido.type ==2 || estado_vizulizacion">
                <md-option value="masculino">Masculino</md-option>
                <md-option value="femenino">Femenino</md-option>
              </md-select>
              <div ng-messages="formNuevoPedido.genero.$error" ng-show="formNuevoPedido.genero.$touched" role="alert">
                <div ng-message="required">
                  <span>Seleccione el género.</span>
                </div>
              </div>
            </md-input-container>
            <md-input-container flex="50" ng-show="pedido.type==2">
              <label>Dirección</label>
              <md-icon class=""></md-icon>
              <input ng-model="pedido.address" name="direccion" class="md-no-underline" ng-required="pedido.type==2">
              <div ng-messages="formNuevoPedido.direccion.$error" ng-show="formNuevoPedido.direccion.$touched" role="alert">
                <div ng-message="required">
                  <span>Digite la direción.</span>
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" layout-align="space-around center">
            <md-input-container flex="50">
              <label>Telefono ó Celular</label>
              <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_phone_24px.svg"></md-icon>
              <input ng-model="customer.phone" name="telefono" class="md-no-underline" ng-required="pedido.type ==2 || estado_vizulizacion"
                ng-maxlength="10" ng-minlength="7">
              <div ng-messages="formNuevoPedido.telefono.$error" ng-show="formNuevoPedido.telefono.$touched" role="alert">
                <div ng-message="required">
                  <span>Digite el número teléfonico.</span>
                </div>
                <div ng-message="minlength">
                  <span>El teléfono debe tener como minimo 7 digitos.</span>
                </div>
                <div ng-message="maxlength">
                  <span>El teléfono debe tener como maximo 10 digitos.</span>
                </div>
              </div>
            </md-input-container>

            <md-input-container flex="50">
              <label>E-mail</label>
              <md-icon md-font-icon="icon-email"></md-icon>
              <input ng-model="customer.email" type="email" name="email" class="md-no-underline">
              <div ng-messages="formNuevoPedido.email.$error" ng-show="formNuevoPedido.email.$touched" role="alert">
                <div ng-message="email">
                  <span>Digite un E-mail valido (ejemplo@mail.com).</span>
                </div>
              </div>
            </md-input-container>
          </div>
        </div>

      </div>
      <!-- end informacion cliente-->


    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="editar()" type="submit" class="md-raised  md-green-600-bg submit-button" aria-label="Enviar" ng-disabled="formNuevoPedido.$invalid || formNuevoPedido.$pristine || productosSeleccionados.length == 0">
        Confirmar
      </md-button>
      <span flex></span>
      <md-button ng-click="closeDialog()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>