<div style="visibility: hidden">
    <div class="md-dialog-container" id="myStaticDialog">
        <md-dialog style="width:1280px" aria-label="Haga que su cliente se sienta especial">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Imprimir Pedido</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                        <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog" class="name"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div id="resumen-pedido">
                    <style scoped>
                        @media print {
                            @page {
                                margin-bottom: 0.25cm;
                                margin-left: 0.2cm;
                                margin-right: 0.75cm;
                                margin-top: 0.1cm;
                            }
                            body {
                                font-size: 12px;
                                font-family: 'Times New Roman';
                                /* width: 7.05cm; Para que alcance la palabra Fidelivery al imprimir. */
                                font-size: medium;
                                width: 7.05cm;
                            }

                            .tabla-bordeada td:nth-child(4) {
                                text-align: left;
                            }
                        }

                        .consecutivo {
                            margin-bottom: .4cm;
                        }

                        .withe-color {
                            color: white !important;
                        }

                        .detalle {
                            margin-top: .4cm;
                            border: 0.5px solid grey;
                            text-align: center;
                        }

                        .propina {
                            margin-top: .4cm;
                        }

                        .alignleft {
                            float: left;
                        }

                        .alignright {
                            float: right;
                        }

                        .negrita {
                            font-weight: bold;
                        }

                        .ng-hide {
                            display: none !important;
                        }

                        .tabla-bordeada {
                            border-collapse: collapse;
                            border-spacing: 0px;
                            width: 100%;
                            margin: .4cm 0 .4cm 0;
                        }

                        .tabla-bordeada th {
                            vertical-align: middle;
                        }

                        .tabla-bordeada th,
                        .tabla-bordeada td {
                            border: 1px solid lightgray;
                        }

                        .texto-centrado {
                            text-align: center;
                        }

                        .texto-derecha {
                            text-align: right;
                        }

                        .texto-izquierda {
                            text-align: left;
                        }
                    </style>
                    <div class="texto-centrado" ng-show="vm.imprimir">
                        {{ vm.pedido.headquarter.establishment.name }}
                    </div>
                    <div class="negrita texto-centrado" ng-show="vm.esComanda && vm.imprimir">
                        Comanda
                    </div>
                    <div class="texto-centrado" ng-show="!vm.esComanda && vm.imprimir">
                        NIT: {{vm.pedido.headquarter.establishment.nit}}
                        <br/> {{vm.pedido.headquarter.name}}: {{vm.pedido.headquarter.address}}
                        <br/>Contacto: {{vm.pedido.headquarter.phone}}
                        <br/>{{vm.pedido.headquarter.city}}
                    </div>
                    <br/>
                    <div>
                        <div class="alignleft negrita consecutivo"># {{vm.pedido.consecutive}}</div>
                        <div class="alignright">Fecha: {{vm.getFechaHoraActual() | date : 'yyyy-MM-dd HH:mm'}}&nbsp;</div>
                    </div>
                    <table class="tabla-bordeada">
                        <thead class="negrita">
                            <th style="width:10%">Cant</th>
                            <th style="width:70%">Producto</th>
                            <th style="width:10%">Valor unidad</th>
                            <th style="width:10%">Total</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="producto in vm.pedido.products">
                                <td class="negrita texto-centrado" style="font-size: 14px"> {{producto.pivot.quantity}} </td>
                                <td class="negrita texto-centrado" style="font-size: 14px"> {{producto.name}} </td>
                                <td class="texto-centrado" style="font-size: 14px"> {{(producto.pivot.price | currency : '$' : 0).replace(' ', '')}} </td>
                                <td class="texto-centrado" style="font-size: 14px"> {{(vm.getTotalProducto(producto) | currency : '$' : 0).replace(' ', '')}} </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="negrita" style="font-size: 16px">
                        Total: {{vm.pedido.total | currency : '$' : 0}}
                        <span ng-show="vm.imprimir && vm.user.employee.headquarter.establishment.iva && !vm.esComanda">(IVA incluido)</span>
                    </div>
                    <div ng-show="vm.imprimir">
                        <div ng-show="vm.user.employee.headquarter.establishment.iva && !vm.esComanda">IVA: {{vm.getValorIVA(vm.pedido.subtotal) | currency : '$' : 2}}</div>
                        <div class="bold texto-centrado propina" ng-show="!vm.esComanda && vm.pedido.type == 1">
                            La propina es voluntaria.
                        </div>
                    </div>
                    <div ng-show="vm.imprimir">
                        <div ng-show="vm.pedido.customer.user.name || vm.pedido.customer.user.last_name">
                            <span class="capitalize">Cliente: {{vm.pedido.customer.user.name}} {{vm.pedido.customer.user.last_name}}</span>
                            <br/>
                            <span class="capitalize negrita">Contacto: {{vm.pedido.customer.user.phone}}</span>
                        </div>
                    </div>
                    <div>
                        <span class="negrita" ng-show="vm.pedido.type==1 && vm.esComanda && vm.imprimir">
                            Para la mesa: {{vm.pedido.table.number}}
                            <br/> Mesero: {{vm.pedido.employee.user.name}} {{vm.pedido.employee.user.last_name}}
                        </span>
                        <span class="capitalize negrita" ng-show="vm.pedido.type==2 && vm.imprimir">Dirección: {{vm.pedido.address}}</span>
                    </div>
                    <div class="detalle" ng-show="vm.imprimir && vm.esComanda && vm.pedido.detail">
                        <div class="negrita" style="font-size: 16px;">Detalle</div>
                        {{vm.pedido.detail}}
                    </div>
                    <div class="texto-centrado" ng-show="vm.imprimir">
                        <br/> Pedido realizado con
                        <br/> Fidelivery
                        <br/> ¡más cerca de sus clientes!
                        <br/> Contáctenos: 313 519 5944 www.fidelivery.co
                        <br/> ----------------------------------------
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="vm.imprimirTicket()" type="button" class="md-raised md-green-600-bg submit-button withe-color" aria-label="Enviar">
                    Confirmar
                </md-button>
                <span flex></span>
                <md-button ng-click="vm.closeDialog()" aria-label="cerrar">
                    Cancelar
                </md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>