<div id="vendedor-pedidos" class="page-layout carded fullwidth single-scroll" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="space-between center">

      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h1" layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-account-switch"></md-icon>
          <span>En cola</span>
        </div>
        <div class="pedidos-count secondary-text">
          <span>Total en cola:</span>
          <span>{{vm.pedidos.length}}</span>
        </div>
      </div>
      <a class="md-raised md-background md-button md-default-theme md-ink-ripple" ng-click="vm.showDialogNuevoPedido()">
        <span class="ng-scope">Nuevo pedido</span>
        <div class="md-ripple-container"></div>
      </a>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>
      <!-- CONTENT -->
      <div class="content">
        <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions">
          <thead>
            <tr>
              <th class="secondary-text">
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">#</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Detalles</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Cliente</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Telefono</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Subtotal</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Total</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pedido in vm.pedidos">
              <td>
                <md-menu md-offset="0 -7">
                  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                    <md-icon md-menu-origin="" md-font-icon="icon-dots-vertical"></md-icon>
                  </md-button>
                  <md-menu-content width="2">
                    <md-menu-item>
                      <md-button ng-click="vm.despachar($event, pedido)">
                        <md-icon md-font-icon="icon-telegram"></md-icon>
                        <span md-menu-align-target="">
                          Despachar
                        </span>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="vm.imprimirPedido($event, pedido)">
                        <md-icon md-font-icon="icon-printer"></md-icon>
                        <span md-menu-align-target="">
                          Imprimir
                        </span>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="vm.showDialogEditarPedido($event, pedido)">
                        <md-icon md-font-icon="icon-pencil"></md-icon>
                        <span md-menu-align-target="">
                          Editar
                        </span>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="vm.showDialogEliminar($event, pedido)">
                        <md-icon md-font-icon="icon-close"></md-icon>
                        <span md-menu-align-target="">
                          Cancelar
                        </span>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </td>
              <td class="consecutive">{{pedido.consecutive}}</td>
              <td class="products">
                <ul>
                  <li ng-repeat="producto in pedido.products">
                    {{producto.name}}
                    <br> {{ producto.pivot.quantity }} X {{ producto.pivot.price | currency:'$':0 }} = {{ producto.pivot.quantity*producto.pivot.price
                    | currency:'$':0 }}
                  </li>
                </ul>
              </td>
              <td ng-if="pedido.customer">{{pedido.customer.user.name}} {{pedido.customer.user.last_name}}</td>
              <td ng-if="pedido.customer">{{pedido.customer.user.phone}}</td>
              <td ng-if="!pedido.customer">No registrado</td>
              <td ng-if="!pedido.customer">No registrado</td>
              <td>{{pedido.subtotal}}</td>
              <td>{{pedido.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>

<ng-include src="'app/main/vendedor/pedidos/modal-resumen-pedido.html'"></ng-include>