#vendedor-pedidos {
    .ancho {
        min-width: 1080px;
        max-width: 1080%;
    }
    .center {
        .header {
            height: 106px !important;
            min-height: 106px !important;
            max-height: 106px !important;
            padding: 24px 0;
            .h1 {
                .md-icon {
                    margin-right: 12px;
                }
            }
            .pedidos-count {
                font-size: 15px;
                font-weight: bold;
            }
        }
        .content-card {
            margin-top: 30px;
            padding: 10px 40px;
            .content {
                padding: 0;
                .dataTables_wrapper {
                    table.dataTable tbody td {
                        padding: 4px 6px;
                        vertical-align: middle;
                    }
                    .products {
                        ul {
                            padding: 0;
                            li {
                                list-style: none;
                            }
                        }
                    }
                    .dataTables_scrollHead {
                        min-height: 64px;
                        table {
                            th {
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#modal-pedidos {
    .angucomplete-holder {
        input {
            width: 100%;
        }
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
    .cancel-button {
        height: 30px;
        width: 35px;
        padding: 0 8px 8px 0;
        margin-left: 30px;
    }
    .angucomplete-dropdown {
        overflow-y: auto;
        max-height: 200px;
    }
}