#administrador-historial-pedidos {
    .center {
        .header {
            height: 104px !important;
            min-height: 104px !important;
            max-height: 104px !important;
            .h1 {
                .md-icon {
                    margin-right: 12px;
                }
            }
            .historial-pedidos-count {
                margin: 6px 0 0 0px;
                font-size: 15px;
            }
        }
        .content-card {
            margin-top: 10px;
            padding: 10px 40px;
            .toolbar {
                padding: 8px;
            }
            .content {
                padding: 0;
                .dataTables_wrapper {
                    table.dataTable tbody td {
                        padding: 4px 6px;
                        vertical-align: middle;
                    }
                    .products {
                        ul {
                            padding: 0;
                            li {
                                list-style: none;
                            }
                        }
                    }
                    .dataTables_scrollHead {
                        min-height: 64px;
                        table {
                            th {
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}