<div id="administrador-historial-pedidos" class="page-layout carded fullwidth single-scroll" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="space-between center">

      <div class="white-fg" layout="column" layout-align="start start">

        <div class="h1" layout="row" layout-align="space-around center">
          <div>Historial de pedidos</div>
        </div>

        <div class="historial-pedidos-count secondary-text">
          <span>Número de pedidos:</span>
          <span>{{vm.pedidos.length}}</span>
        </div>
      </div>

    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>
      <div layout="row" layout-xs="column">
        <md-input-container flex>
          <md-datepicker ng-model="vm.fecha" md-placeholder="Fecha" name="fecha" ng-change="vm.cargarPedidosEnviadosDia()" class="md-no-underline"></md-datepicker>
        </md-input-container>

        <md-input-container flex>
          <label>Establecimiento</label>
          <md-select type="text" name="establecimiento" ng-model="vm.establecimiento" placeholder="Establecimiento" ng-change="vm.seleccionarEstablecimiento()"
            class="md-no-underline">
            <md-option ng-value="establecimiento.id" ng-repeat="establecimiento in vm.establecimientos">
              {{ establecimiento.name }}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex="10"></md-input-container>

        <md-input-container flex>
          <label>Sede</label>
          <md-select type="text" name="sede" ng-model="vm.sede" placeholder="Sede" ng-change="vm.cargarPedidosEnviadosDia()" class="md-no-underline">
            <md-option ng-value="null" selected>Todas</md-option>
            <md-option ng-value="sede.id" ng-repeat="sede in vm.sedes">
              {{ sede.name }}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex="10"></md-input-container>

        <md-input-container flex>
          <label>Total</label>
          <md-icon class="icon-currency-usd"></md-icon>
          <input type="text" name="total" ng-model="vm.total" placeholder="Total" disabled>
        </md-input-container>
      </div>
      <!-- CONTENT-->
      <div class="content">
        <table id="tabla_historial" class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions">
          <thead>
            <tr>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">N°</span>
                </div>
              </th>
              <div ng-if="!vm.sede">
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Sede</span>
                  </div>
                </th>
              </div>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Detalles</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Hora de Despacho</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Subtotal</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Tipo</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Total</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Cliente</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pedido in vm.pedidos">
              <td>{{pedido.consecutive}}</td>
              <td>{{pedido.headquarter.name}}</td>
              <td class="products">
                <ul>
                  <li ng-repeat="producto in pedido.products">
                    {{producto.name}}
                    <br> {{ producto.pivot.quantity }} X {{ producto.pivot.price | currency:'$':0 }} = {{ producto.pivot.quantity*producto.pivot.price
                    | currency:'$':0 }}
                  </li>
                </ul>
              </td>
              <td>{{vm.getDatePedido(pedido, 'updated_at') | date : 'HH:mm:ss'}}</td>
              <td>{{pedido.subtotal | currency : '$' : 0}}</td>
              <td>{{pedido.type}}</td>
              <td>{{pedido.total | currency : '$' : 0}}</td>
              <td>{{pedido.customer.user.name || 'No registrado'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- / CONTENT fullpage-datatable -->
    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>