<div class="page-layout carded fullwidth single-scroll" layout="row" id="administrador-nueva-mesa">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" flex>

    <!-- CONTENT HEADER -->
    <div class="header">
      <span class="h2 white-fg">
        <md-icon class="icon-account-plus"></md-icon>
        Nuevo mesero
      </span>
      <div class="h3 white-fg">Aquí puedes crear una nueva mesa.</div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <md-content class="content" ms-scroll>

        <form ng-submit="vm.guardar()" name="formNuevoMesero" class="md-inline-form" novalidate>

          <div class="container-form">
            <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                <input type="text" name="name" ng-model="vm.producto.name" placeholder="Nombre" required>
                <div ng-messages="formNuevoMesero.name.$error" role="alert">
                  <div ng-message="required">
                    <span>El nombre es requerido.</span>
                  </div>
                </div>
              </md-input-container>
              <md-input-container flex>
                <input type="number" name="price" ng-model="vm.producto.price" placeholder="Precio" required>
                <div ng-messages="formNuevoMesero.price.$error" role="alert">
                  <div ng-message="required">
                    <span>El precio es requerido.</span>
                  </div>
                </div>
              </md-input-container>
            </div>

            <div layout="column" layout-gt-sm="row">

              <md-input-container flex>
                <md-select type="text" name="categoria" ng-model="vm.producto.category_id" placeholder="Elegir categoria" required>
                  <md-option ng-value="categoria.id" ng-repeat="categoria in vm.categorias">
                    {{categoria.name}}
                  </md-option>
                </md-select>
                <div ng-messages="formNuevoMesero.categoria.$error" role="alert">
                  <div ng-message="required">
                    <span>Debe seleccionar la categoria del producto.</span>
                  </div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <md-select type="text" name="establecimiento" ng-model="vm.establecimiento" placeholder="Elegir establecimiento" required
                  ng-change="vm.cargarSedes()">
                  <md-option ng-value="establecimiento.id" ng-repeat="establecimiento in vm.establecimientos">
                    {{establecimiento.name}}
                  </md-option>
                </md-select>
                <div ng-messages="formNuevoMesero.establecimiento.$error" role="alert">
                  <div ng-message="required">
                    <span>Debe seleccionar el establecimiento del producto.</span>
                  </div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <md-select type="text" name="sede" ng-model="vm.sede" placeholder="Elegir sede" required>
                  <md-option ng-value="sede.id" ng-repeat="sede in vm.sedes">
                    {{sede.name}}
                  </md-option>
                </md-select>
                <div ng-messages="formNuevoMesero.sede.$error" role="alert">
                  <div ng-message="required">
                    <span>Debe seleccionar la sede del producto.</span>
                  </div>
                </div>
              </md-input-container>
            </div>

          </div>

          <div class="buttons">
            <button md-button type="submit" class="md-raised md-accent" aria-label="Confirmar" ng-disabled="formNuevoMesero.$invalid || formNuevoMesero.$pristine">
            Confirmar </button>
            <a md-button href="/productos" class="md-raised md-red-800-bg cancelar" aria-label="Cancelar"> Cancelar </a>
          </div>
        </form>

      </md-content>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>