<md-dialog aria-label="Haga que su cliente se sienta especial">
  <form name="formModificarMesero" class="md-inline-form" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-icon md-font-icon="icon-pencil"></md-icon>
        <h2 style="margin-left: 15px;">Modificar datos de la mesa</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog" class="name"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" layout-gt-sm="row">
          <md-input-container flex>
            <input type="text" name="number" ng-model="mesa.number" placeholder="Número" required>
            <div ng-messages="formModificarMesero.number.$error" role="alert">
              <div ng-message="required">
                <span>Digite el número de la mesa </span>
              </div>
            </div>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised  md-green-600-bg submit-button" aria-label="Enviar" ng-disabled="formModificarMesero.$invalid || formModificarMesero.$pristine"
        ng-click="update()">
        Confirmar
      </md-button>
      <span flex></span>
      <md-button ng-click="closeDialog()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>