<div id="administrador-mesas" class="page-layout carded fullwidth single-scroll" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="space-between center">

      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h1" layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-account-switch"></md-icon>
          <span>Mesas</span>
        </div>
        <div class="mesas-count secondary-text">
          <span>Numero de mesas:</span>
          <span>{{vm.mesas.length}}</span>
        </div>
      </div>

      <div>
        <a href="/mesas/nueva-mesa" class="md-raised md-background md-button md-default-theme md-ink-ripple">
          <span class="ng-scope">Nueva Mesa</span>
          <div class="md-ripple-container"></div>
        </a>
      </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>
      <div layout="row" layout-xs="column">
        <md-input-container flex>
          <label>Establecimiento</label>
          <md-select type="text" name="establecimientoSeleccionadoOrden" ng-model="vm.establecimiento" placeholder="Establecimiento"
            ng-change="vm.seleccionarEstablecimiento()">
            <md-option ng-value="establecimiento.id" ng-repeat="establecimiento in vm.establecimientos">
              {{ establecimiento.name }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <label>Sede</label>
          <md-select type="text" name="sede" ng-model="vm.sede" placeholder="Sede" ng-change="vm.cargarMesas()">
            <md-option ng-value="sede.id" ng-repeat="sede in vm.sedes">
              {{ sede.name }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <!-- CONTENT -->
      <div class="content">

        <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions">
          <thead>
            <tr>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Establecimiento</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Sede</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Number</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Acciones</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="mesa in vm.mesas">
              <td>{{mesa.headquarter.establishment.name}}</td>
              <td>{{mesa.headquarter.name}}</td>
              <td>{{mesa.number}}</td>
              <td>
                <md-button class="edit-button md-icon-button" ng-click="vm.showDialogModificar($event, mesa)" aria-label="Editar mesa">
                  <md-icon md-font-icon="icon-pencil"></md-icon>
                </md-button>
                <md-button class="edit-button md-icon-button" ng-click="vm.showDialogEliminar($event, mesa)" aria-label="Eliminar mesa">
                  <md-icon md-font-icon="icon-trash"></md-icon>
                </md-button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>