<div class="page-layout carded fullwidth single-scroll" layout="row" id="administrador-nueva-mesa">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" flex>

    <!-- CONTENT HEADER -->
    <div class="header">
      <span class="h2 white-fg">
        <md-icon class="icon-account-plus"></md-icon>
        Nuevo mesero
      </span>
      <div class="h3 white-fg">Aquí puedes crear una nueva mesa.</div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <md-content class="content" ms-scroll>

        <form ng-submit="vm.guardar()" name="formNuevoMesero" class="md-inline-form" novalidate>

          <div class="container-form">

            <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                <input type="text" name="number" ng-model="vm.mesa.number" placeholder="Numero" required>
                <div ng-messages="formNuevoMesero.number.$error" role="alert">
                  <div ng-message="required">
                    <span>El numero es requerido.</span>
                  </div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <md-select type="text" name="establecimiento" ng-model="vm.establecimiento" placeholder="Elegir establecimiento" required
                  ng-change="vm.cargarSedes()">
                  <md-option ng-value="establecimiento.id" ng-repeat="establecimiento in vm.establecimientos">
                    {{establecimiento.name}}
                  </md-option>
                </md-select>
                <div ng-messages="formNuevoMesero.establecimiento.$error" role="alert">
                  <div ng-message="required">
                    <span>Seleccione el establecimiento en el que trabajara el empleado.</span>
                  </div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <md-select type="text" name="sede" ng-model="vm.sede" placeholder="Elegir sede" required>
                  <md-option ng-value="sede.id" ng-repeat="sede in vm.sedes">
                    {{sede.name}}
                  </md-option>
                </md-select>
                <div ng-messages="formNuevoMesero.sede.$error" role="alert">
                  <div ng-message="required">
                    <span>Seleccione la sede en la que trabajara el empleado.</span>
                  </div>
                </div>
              </md-input-container>
            </div>

          </div>

          <div class="buttons">
            <button md-button type="submit" class="md-raised md-accent" aria-label="Confirmar" ng-disabled="formNuevoMesero.$invalid || formNuevoMesero.$pristine">
              Confirmar
            </button>
            <a md-button href="/mesas" class="md-raised md-red-800-bg cancelar" aria-label="Cancelar">
              Cancelar
            </a>
          </div>
        </form>

      </md-content>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>