<div id="administrador-reporte-tablas" class="page-layout carded fullwidth single-scroll" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="column" layout-align="space-between start">
      <span class="h1 white-fg">
        <md-icon class="icon-clipboard-text"></md-icon>
        Reporte general en tablas
      </span>
      <div class="h3 white-fg">Aquí verás un reporte detallado entre dos fechas que selecciones.</div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">


      <!-- CONTENT -->
      <md-content class="content" ms-scroll>

        <div layout="column" layout-gt-sm="row" flex="100">
          <md-input-container flex="5">
            <label>Fecha inicial</label>
            <md-datepicker ng-model="vm.initialDate" md-placeholder="Inicial" ng-change="vm.cargarPedidosPorDia()" name="fecha" class="md-no-underline"></md-datepicker>
          </md-input-container>

          <md-input-container flex="5">
            <label>Fecha final</label>
            <md-datepicker ng-model="vm.finalDate" md-placeholder="Final" ng-change="vm.cargarPedidosPorDia()" name="fecha" class="md-no-underline"></md-datepicker>
          </md-input-container>

          <md-input-container flex="10">
            <label>Establecimiento</label>
            <md-select type="text" name="establecimientoSeleccionadoOrden" ng-model="vm.establecimiento" placeholder="Establecimiento"
              ng-change="vm.seleccionarEstablecimiento()" class="md-no-underline">
              <md-option ng-value="null" selected>Todos</md-option>
              <md-option ng-value="establecimiento.id" ng-repeat="establecimiento in vm.establecimientos">
                {{ establecimiento.name }}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex="10">
            <label>Sede</label>
            <md-select type="text" name="sede" ng-model="vm.sede" placeholder="Sede" ng-change="vm.cargarPedidosPorDia()"
              class="md-no-underline">
              <md-option ng-value="null" selected>Todas</md-option>
              <md-option ng-value="sede.id" ng-repeat="sede in vm.sedes">
                {{ sede.name }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-content>
      <!-- / CONTENT -->

      <table class="simple row-border hover" datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions">
        <thead>
          <th class="h3">
            <strong>Fecha</strong>
          </th>
          <th class="h3">
            <strong>Cantidad</strong>
          </th>
          <th class="h3">
            <strong>Ingresos</strong>
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="pedido in vm.pedidos">
            <td>
              {{pedido.date | date }}
            </td>
            <td>
              {{pedido.dispatched}}
            </td>
            <td>
              {{pedido.total | currency}}
            </td>
          </tr>
          <tr>
            <td>
              <strong>TOTAL</strong>
            </td>
            <td>
              <strong>{{vm.getTotalPedidosDiaLapso() || 0}}</strong>
            </td>
            <td>
              <strong>{{vm.getTotalValorPorDia() | currency }}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
