#administrador-reporte-tablas {
    .center {
        .header {
            height: 104px !important;
            min-height: 104px !important;
            max-height: 136px !important;
            padding: 24px 0;
            .h1 {
                .md-icon {
                    margin-right: 12px;
                }
            }
            .reporte-tablas-count {
                margin: 6px 0 0 36px;
            }
        }
        .content-card {
            margin-top: 10px;
            padding: 10px 40px;
            .toolbar {
                padding: 8px;
            }
            .content {
                padding: 0;
                .dataTables_wrapper {
                    table.dataTable tbody td {
                        padding: 4px 6px;
                        vertical-align: middle;
                    }
                    .dataTables_scrollHead {
                        min-height: 64px;
                        table {
                            th {
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }
                        }
                    }
                }
                .invoice-table-footer {
                    margin: 32px 0 96px 0;
                    tr {
                        td {
                            text-align: right;
                            font-size: 17px;
                            font-weight: 500;
                            color: rgba(0, 0, 0, 0.54);
                            border-bottom: none;
                            padding: 8px 8px;
                            &:first-child {
                                text-align: left;
                            }
                        }
                        &.discount {
                            td {
                                padding-bottom: 32px;
                            }
                        }
                        &.total {
                            td {
                                padding: 32px 8px;
                                border-top: 1px solid rgba(0, 0, 0, 0.12);
                                font-size: 35px;
                                font-weight: 300;
                                color: rgba(0, 0, 0, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}