<md-dialog aria-label="Haga que su cliente se sienta especial">
  <form name="formModificarMesero" class="md-inline-form" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-icon md-font-icon="icon-pencil"></md-icon>
        <h2>Modificar datos del mesero</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog" class="name"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" layout-gt-sm="row">
          <md-input-container flex="100">
            <label>Fecha de nacimiento</label>
            <md-datepicker ng-model="mesero.fecha_nacimiento" md-placeholder="Elegir" name="fecha_nacimineto" class="md-no-underline"></md-datepicker>
          </md-input-container>
        </div>
        <div layout="column" layout-gt-sm="row">
          <md-input-container flex>
            <input type="text" name="document" ng-model="mesero.document" placeholder="Número de identificación" required>
            <div ng-messages="formModificarMesero.document.$error" role="alert">
              <div ng-message="required">
                <span>Digite el número de identificación del empleado </span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" layout-gt-sm="row">
          <md-input-container flex>
            <input type="text" name="name" ng-model="mesero.name" placeholder="Nombres" required>
            <div ng-messages="formModificarMesero.name.$error" role="alert">
              <div ng-message="required">
                <span>Los nombres son requeridos.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <input type="text" name="last_name" ng-model="mesero.last_name" placeholder="Apellidos" required>
            <div ng-messages="formModificarMesero.last_name.$error" role="alert">
              <div ng-message="required">
                <span>Los apellidos son requeridos.</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" layout-gt-sm="row">
          </md-input-container>
          <md-input-container flex>
            <md-select type="text" name="gender" ng-model="mesero.gender" placeholder="Género" class="md-no-underline" required>
              <md-option value="masculino">Masculino</md-option>
              <md-option value="femenino">Femenino</md-option>
            </md-select>
            <div ng-messages="formModificarMesero.gender.$error" role="alert">
              <div ng-message="required">
                <span>El género es requerido.</span>
              </div>
            </div>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised  md-green-600-bg submit-button" aria-label="Enviar" ng-disabled="formModificarMesero.$invalid || formModificarMesero.$pristine"
        ng-click="update()">
        Confirmar
      </md-button>
      <span flex></span>
      <md-button ng-click="closeDialog()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
