<div id="login" layout="row" layout-align="start">
    <div id="login-intro" flex hide show-gt-sm></div>

    <div id="login-form-wrapper" class="flex-scrollable md-whiteframe-8dp" ms-scroll>
        <div id="login-form">

            <div class="title"><img src="../assets/images/logos/fd-logotipo.png"></div>

            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="text" name="usuario" ng-model="vm.form.usuario" placeholder="Usuario"
                           required>
                    <div ng-messages="loginForm.usuario.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>El usuario es requerido.</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                           required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>La contraseña es requerida</span>
                        </div>
                    </div>
                </md-input-container>


                <md-button type="submit" class="md-raised  md-green-600-bg submit-button" aria-label="¡Comencemos!"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine"
                           ng-click="vm.ingresar()" >
                    Comencemos
                </md-button>
            </form>

        </div>
    </div>
</div>