<md-dialog style="width:1280px; height: 700px" aria-label="Haga que su cliente se sienta especial" id="modal-usuario">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Nuevo Establecimiento</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog" class="name"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form name="formNuevoEstablecimiento" novalidate>
    <md-dialog-content>
      <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex>
          <label>Nombre</label>
          <input ng-model="establecimiento.name" id="name" name="name" class="md-no-underline" required>
          <div ng-messages="formNuevoEstablecimiento.name.$error" ng-show="formNuevoEstablecimiento.name.$touched" role="alert">
            <div ng-message="required">
              <span>Digite el nombre del establecimiento.</span>
            </div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Nit</label>
          <input ng-model="establecimiento.nit" name="nit" class="md-no-underline" required>
          <div ng-messages="formNuevoEstablecimiento.nit.$error" ng-show="formNuevoEstablecimiento.nit.$touched" role="alert">
            <div ng-message="required">
              <span>Digite el nit del establecimiento.</span>
            </div>
          </div>
        </md-input-container>
      </div>
      <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="50">
          <md-select type="text" name="iva" ng-model="establecimiento.iva" placeholder="Registra Iva?" required>
            <md-option ng-value="1">SI</md-option>
            <md-option ng-value="0">NO</md-option>
          </md-select>
          <div ng-messages="formNuevoEstablecimiento.iva.$error" ng-show="formNuevoEstablecimiento.iva.$touched" role="alert">
            <div ng-message="required">
              <span>Seleccione una opción.</span>
            </div>
          </div>
        </md-input-container>
        <md-input-container flex="50">
          <md-select type="text" name="administrador" ng-model="administrador" placeholder="Administrador" required>
            <md-option ng-repeat="administrador in administradores" ng-value="administrador.administrator.id">{{administrador.username}}</md-option>
          </md-select>
          <div ng-messages="formNuevoEstablecimiento.administrador.$error" ng-show="formNuevoEstablecimiento.administrador.$touched"
            role="alert">
            <div ng-message="required">
              <span>Seleccione un administrador.</span>
            </div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="crear()" type="submit" class="md-raised  md-green-600-bg submit-button" aria-label="Enviar" ng-disabled="formNuevoEstablecimiento.$invalid || formNuevoEstablecimiento.$pristine || productosSeleccionados.length == 0">
        Confirmar
      </md-button>
      <span flex></span>
      <md-button ng-click="closeDialog()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>