<div class="page-layout carded fullwidth single-scroll" layout="row" id="administrador-nuevo-meseros">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" flex>

    <!-- CONTENT HEADER -->
    <div class="header">
      <span class="h2 white-fg">
        <md-icon class="icon-account-plus"></md-icon>
        Nuevo mesero
      </span>
      <div class="h3 white-fg">Aquí puedes asociar un nuevo mesero.</div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <md-content class="content" ms-scroll>

        <form ng-submit="vm.guardar()" name="formNuevoMesero" class="md-inline-form" novalidate>

          <div class="container-form">
            <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                <label>Fecha de nacimiento</label>
                <md-datepicker ng-model="vm.fecha_nacimiento" md-placeholder="Elegir" name="fecha_nacimineto" class="md-no-underline"></md-datepicker>
              </md-input-container>

              <md-input-container flex>
                <input type="text" name="document" ng-model="vm.mesero.document" placeholder="Numero de identificación" required>
                <div ng-messages="formNuevoMesero.document.$error" role="alert">
                  <div ng-message="required">
                    <span>Digite el número de identificación del empleado </span>
                  </div>
                </div>
              </md-input-container>
            </div>

            <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                <input type="text" name="name" ng-model="vm.mesero.name" placeholder="Nombres" required>
                <div ng-messages="formNuevoMesero.name.$error" role="alert">
                  <div ng-message="required">
                    <span>Los nombres son requeridos.</span>
                  </div>
                </div>
              </md-input-container>
              <md-input-container flex>
                <input type="text" name="last_name" ng-model="vm.mesero.last_name" placeholder="Primer apellido" required>
                <div ng-messages="formNuevoMesero.last_name.$error" role="alert">
                  <div ng-message="required">
                    <span>Los apellidos son requeridos.</span>
                  </div>
                </div>
              </md-input-container>
            </div>

            <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                <md-select type="text" name="establecimiento" ng-model="vm.establecimiento" placeholder="Elegir establecimiento" required ng-change="vm.cargarSedes()">
                  <md-option ng-value="establecimiento.id" ng-repeat="establecimiento in vm.establecimientos">
                    {{establecimiento.name}}
                  </md-option>
                </md-select>
                <div ng-messages="formNuevoMesero.establecimiento.$error" role="alert">
                  <div ng-message="required">
                    <span>Seleccione el establecimiento en el que trabajara el empleado.</span>
                  </div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <md-select type="text" name="sede" ng-model="vm.sede" placeholder="Elegir sede" required>
                  <md-option ng-value="sede.id" ng-repeat="sede in vm.sedes">
                    {{sede.name}}
                  </md-option>
                </md-select>
                <div ng-messages="formNuevoMesero.sede.$error" role="alert">
                  <div ng-message="required">
                    <span>Seleccione la sede en la que trabajara el empleado.</span>
                  </div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <md-select type="text" name="gender" ng-model="vm.mesero.gender" placeholder="Género" required>
                  <md-option value="masculino">Masculino</md-option>
                  <md-option value="femenino">Femenino</md-option>
                </md-select>
                <div ng-messages="formNuevoMesero.gender.$error" role="alert">
                  <div ng-message="required">
                    <span>El género es requerido.</span>
                  </div>
                </div>
              </md-input-container>
            </div>

          </div>

          <div class="buttons">
            <button md-button type="submit" class="md-raised md-accent" aria-label="Confirmar" ng-disabled="formNuevoMesero.$invalid || formNuevoMesero.$pristine">
              Confirmar
            </button>
            <a md-button href="/meseros" class="md-raised md-red-800-bg cancelar" aria-label="Cancelar">
              Cancelar
            </a>
          </div>
        </form>

      </md-content>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
