<div id="administrador-clientes" class="page-layout carded fullwidth single-scroll" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="space-between center">
      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h1" layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-account-switch"></md-icon>
          <span> clientes</span>
        </div>
        <div class="h3 white-fg">Aquí puedes visualizar todos los clientes.</div>
      </div>
      <div>
        <button ng-click="vm.enviarOferta($event)" class="md-raised md-background md-button md-default-theme md-ink-ripple">
          <span class="ng-scope">Ofertar</span>
          <div class="md-ripple-container"></div>
        </button>
      </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <md-content class="content" ms-scroll>

        <div layout="column" layout-gt-sm="row">
          <md-input-container flex="10">
            <label>Establecimiento</label>
            <md-select type="text" name="establecimiento" ng-model="vm.establecimiento" placeholder="Establecimiento"
            ng-change="vm.cargarClientes()">
              <md-option ng-value="null">Todos</md-option>
              <md-option ng-repeat="establecimiento in vm.establecimientos" ng-value="establecimiento.id">{{establecimiento.name}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex="10">
            <label>Envio de oferta</label>
            <md-select type="text" name="envio_oferta" ng-model="vm.envio_oferta" placeholder="Envio de oferta" ng-change="vm.cargarClientes()">
              <md-option value="email">Correo</md-option>
              <md-option value="sms">SMS Fidelivery</md-option>
            </md-select>
          </md-input-container>

          <md-input-container ng-show="vm.envio_oferta=='sms'" flex="5">
            <label>Mensajes restantes</label>
            <input type="text" name="mensajes_restantes" ng-model="vm.mensajes_restantes" class="md-no-underline" disabled>
          </md-input-container>

          <md-input-container flex="5">
            <label>Clientes</label>
            <input type="text" name="total_clientes" ng-model="vm.total_clientes" class="md-no-underline" disabled>
          </md-input-container>

          <md-input-container flex="20">
            <md-checkbox aria-label="Select All" ng-model="vm.selectAll" ng-click="vm.toggleAll(vm.selectAll, vm.selected)">Selecionar todos ({{ vm.selectedTotal }} seleccionados)</md-checkbox>
          </md-input-container>

        </div>


      </md-content>
      <!-- / CONTENT -->

      <div class="content fullpage-datatable" layout="column" flex>
        <table id="tabla_clientes" class="dataTable row-border hover" datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
          dt-instance="vm.dtInstance" width="100%"></table>
      </div>

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
