#administrador-clientes {
    .center {
        .header {
            height: 102px !important;
            min-height: 102px !important;
            max-height: 102px !important;
            padding: 24px 0;
            .h1 {
                .md-icon {
                    margin-right: 12px;
                }
            }
            .historial-pedidos-count {
                margin: 6px 0 0 36px;
            }
        }
        .content-card {
            margin-top: 10px;
            padding: 10px 40px;
            .content {
                padding: 0;
                .dataTables_wrapper {
                    .dataTables_scrollHead {
                        min-height: 64px;
                        table {
                            th {
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }
                        }
                    }
                    .dataTables_scrollBody {
                        .historial-pedidos-image {
                            width: 52px;
                            height: 52px;
                            border: 1px solid rgba(0, 0, 0, 0.12);
                        }
                        .quantity-indicator {
                            display: inline-block;
                            vertical-align: middle;
                            width: 8px;
                            height: 8px;
                            border-radius: 4px;
                            margin-right: 8px;
                            &+div {
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                        .edit-button {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

#dialog-email {
    #dialogContent_dialog-email {
        padding: 0;
        .md-dialog-content {
            padding: 5px 15px;
        }
    }
    .md-toolbar-tools {
        position: relative;
        .titles {
            text-align: center;
            padding: 0 30px;
            .title {
                font-size: 15px;
            }
            .subtitle {
                margin: 0;
                font-size: 13px;
            }
        }
    }
    .greenfd {
        background: #47ba56;
        color: #fff;
    }
}