<md-dialog aria-label="Haga que su cliente se sienta especial" id="dialog-email">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div class="titles">
        <h2 class="title">Sorprende a tus clientes</h2>
        <h5 class="subtitle">El mensaje se enviara a {{ clientes_totales }} clientes</h5>
      </div>
    </div>
  </md-toolbar>
  <form name="formOfertaSms" class="md-inline-form" novalidate ng-submit="enviar()">
  <md-dialog-content>
    <div class="md-dialog-content">
      <div layout="column" layout-gt-sm="row">
        <md-input-container flex>
          <textarea rows="6" type="text" name="message" ng-model="form.message" placeholder="Escribe aquí tu oferta." required></textarea>
          <div ng-messages="formOfertaSms.message.$error" role="alert">
            <div ng-message="required">
              <span>Digite el contenido del mensaje</span>
            </div>
          </div>
        </md-input-container>
      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button type="submit" class="md-raised greenfd submit-button" aria-label="Eliminar">
      Enviar
    </md-button>
    <span flex></span>
    <md-button ng-click="closeDialog()">
      Cancelar
    </md-button>
  </md-dialog-actions>
  </form>
</md-dialog>
